/* Exception Page Styles */

.mainContainer {
    position: relative;
    top: 80px;
}

.container {
    width: 500px;
    font-family: cursive;
    font-weight: bold;
}

h1 {
    color: rgb(246, 160, 160);
}

a {
    position: relative;
    top: 30px;
    background-color: darkslategray;
    padding: 3px;
    color: white;
    text-decoration: none;
}

img {
    height: 200px;
}
